body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

.dropdown {
    display: none;
}

.button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


@media screen  and (max-device-width: 480px) {
    .disable-dbl-tap-zoom {
        touch-action: manipulation;
    }

    /*header mobile*/
    
    header {
        height: 100px;
        background-color: #B1A7A5;
    
        display: flex;
        align-items: center;
        z-index: 11;
    }
    
    .leftSide, .rightSide {
        display: none;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        height: 100%;
        z-index: 11;
    }
    .menu-btn .dropdownContent {
        display: none;
    }

    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 100%;
        cursor: pointer;
        transition: all .5s ease-in-out;
        z-index: 11;
    }

    .menu-btn__burger {
        width: 50px;
        height: 6px;
        background: #111;
        border-radius: 5px;
        transition: all .5s ease-in-out;
        z-index: 11;
    }

    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background: #111;
        border-radius: 5px;
        transition: all .5s ease-in-out;
        z-index: 11;
    }

    .menu-btn__burger::before {
        transform: translateY(-16px);
    }

    .menu-btn__burger::after {
        transform: translateY(16px);
    }

    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
    }

    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    .dropdownContent {
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        width: 50vw;
        background-color: #FFFCFB;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 11;
    }

    .dropdownContent a {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 5vw;
        border-bottom: 2px solid #635552;
        width: 100%;
        text-align: center;
        z-index: 11;
    }


    .leftSide .rightSide{
        display: none;
    }

    /*main mobile*/
    .infoTitle {
        min-height: 1403px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-image: url("images/infoNew.svg");
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    
    .welcome {
        display: flex;
        align-items: center;
        background: rgba(177, 167, 165, 0.5);
        backdrop-filter: blur(100px);
        min-height: calc(100% / 4);
        width: 100vw;
        font-size: 70px;
        text-align: center;
        margin-bottom: calc(100% / 4);
        font-family: 'Montserrat', sans-serif;
    }
    
    
    
    .info {
        display: flex;
        align-items: flex-end;
        height: 2174px;
        background-image: url("images/info3.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .infoText {
        width: 100vw;
        min-height: calc(100% / 2);
        font-family: 'Montserrat', sans-serif;
        font-size: 4vw;
        line-height: 5vw;
        padding-left: 10%;
        padding-right: 10%;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: left;
        justify-content: center;

        background-color: rgba(177, 167, 165, 0.5);
        backdrop-filter: blur(100px);
    }

    .catalogue {
        min-height: 841px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #B1A7A5;
        position: relative;
    }

    .rectangle {
        position: relative;
        height: 557.34px;
        width: 912px;
        display: flex;
        justify-content: center;
        align-items: center;

        background: #DBD3D2;
        box-shadow: 4px 4px 4px 4px rgba(25, 25, 25, 0.1), inset 4px 4px 4px 4px rgba(25, 25, 25, 0.1);
    }

    .arrowHolder {
        position: absolute;
        height: 211.64px;
        width: 100%;
        background: #8B7F7C;
        backdrop-filter: blur(100px);

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .prev-button,
    .next-button {
        font-size: 90px;
    }

    .slides-container {
        min-height: 30vw;
        width: 386px;
        position: relative;
        overflow: hidden;
    }

    .dres-imgs{
        width: 400%;
        height: 100%;
        display: flex;
    }

    .slide-image {
        margin-top: 5%;
        height: 100%;
        width: 25%;
        transition: all .6s ease;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.7rem;

    }

    .slide-image img {
        height: 90%;
        width: 100%;
        object-fit: cover;
    }

    .button {
        cursor: pointer;
        transition: all .4s ease;
        height: 100%;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .button:hover{
        /* opacity: 0.8; */
        transform: scale(1.1);
    }
    
    input[name="r"]{
        position: absolute;
        visibility: hidden;
    }
    
    .catBtn {
        width: calc(100% / 2);
        height: 72px;
        font-family: 'Montserrat', sans-serif;
        font-size: 2vw;
        background-color: #E5E5E5;
        border: 1px solid #5B5553;
    }

    /*footer mobile*/

    .footerMobile {
        background-color: #8B7F7C;
        width: auto;
        padding: 15px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
    }
    
    .footBtn {
        width: calc(100% / 1.5);
        height: calc(100% / 8);
        padding: 10px 0px;
    }
    
    .footerBtn {
        font-size: 30px;
        background-color: #DBD3D2;  
        font-weight: bold;
    }
    
    a {
        color: inherit;
    }
    
    .topMenu {
        width: calc(100% / 1.5);
        display: flex;
        justify-content: space-around;
        padding: 25px 0px;
    }
    .FEFU img{
        width: auto;
        height: 90px;    
    }
    
    .middleMenu {
        /*width: 100vw;*/
        width: calc(100% / 1.5);
        display: flex;
        justify-content: space-between;
    }
    .topMenu a{
        text-decoration: none;
    }

    .bottomMenu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .contacts {
        text-decoration: none;
    }
    
    .catBtn a {
        text-decoration: none;
    }

    footer {
        display: none;
    }
}

    @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    /*header tablet*/
    header {
        display: flex;
        flex-direction: row;
        height: 48px;
        padding-left: 38px;
        justify-content: space-between;
        background-color: #B1A7A5;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .dropdown {
        display: none;
    }
    
    .leftSide {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: calc(100% / 3);
        align-items: center;
    }
    .rightSide {
        display: flex;
        justify-content: flex-end;
        padding-right: 5%;
        align-items: center;
    }
    /*main tablet*/
    .infoTitle {
        margin: 0px;
        background-image: url("images/image10.svg");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 40vw;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .welcome {
        width: calc(100% / 2.7);
        height: calc(100% / 3);
        text-align: center;
        background-color: rgba(177, 167, 165, 0.5);
        backdrop-filter: blur(100px);
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw;
        justify-content: center;
    }

    .welcomeMobile {
        display: none;
    }


    .info {
        background-image: url("images/info4.svg");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 40vw;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .infoText {
        width: calc(100% / 2);
        height: calc(100% / 1.9);
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;
        line-height: 2vw;
        padding-left: 50px;
        padding-right: 50px;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: justify;
        justify-content: center;

        background-color: rgba(177, 167, 165, 0.5);
        backdrop-filter: blur(100px);
    }

    .catalogue {
        min-height: 841px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #B1A7A5;
        position: relative;
    }

    .rectangle {
        position: relative;
        height: 557.34px;
        width: 912px;
        display: flex;
        justify-content: center;
        align-items: center;

        background: #DBD3D2;
        box-shadow: 4px 4px 4px 4px rgba(25, 25, 25, 0.1), inset 4px 4px 4px 4px rgba(25, 25, 25, 0.1);
    }

    .arrowHolder {
        position: absolute;
        height: 211.64px;
        width: 100%;
        background: #8B7F7C;
        backdrop-filter: blur(100px);

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .prev-button,
    .next-button {
        font-size: 90px;
    }

    .slides-container {
        min-height: 30vw;
        width: 386px;
        position: relative;
        overflow: hidden;
    }

    .dres-imgs{
        width: 400%;
        height: 100%;
        display: flex;
    }

    .slide-image {
        margin-top: 5%;
        height: 100%;
        width: 25%;
        transition: all .6s ease;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;

    }

    .slide-image img {
        height: 90%;
        width: 100%;
        object-fit: cover;
    }

    .infoMobile {
        display: none;
    }

    .button {
        cursor: pointer;
        transition: all .4s ease;
        height: 100%;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button:hover{
        /* opacity: 0.8; */
        transform: scale(1.1);
    }

    input[name="r"]{
        position: absolute;
        visibility: hidden;
    }

    .catBtn {
        width: calc(100% / 2);
        height: 72px;
        font-family: 'Montserrat', sans-serif;
        font-size: 2vw;
        background-color: #E5E5E5;
        border: 1px solid #5B5553;
    }

    /*footer tablet*/

    .footerMobile {
        display: none;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        background-color: #8B7F7C;
        width: auto;
        padding: 15px 0px;
    }
    
    .topMenu {
        display: flex;
        justify-content: space-around;
        padding: 15px 0px;
        width: calc(100% / 1);
    }
    
    .footBtn {
        width: calc(100% / 1.5);
        height: 76px;
        padding: 10px 0px;
    }
    
    .footerBtn {
        width: 100%;
        font-size: 23px;
        font-family: 'Montserrat', sans-serif;
        background-color: #DBD3D2;
        border: 1px solid #5B5553;
        padding: 15px 15px;
        font-weight: bold;
    }
    
    .middleMenu {
        width: calc(100% / 1.4);
        display: flex;
        justify-content: flex-end;
        text-decoration: underline;
    }
    
    
    .FEFU img{
        width: auto;
        height: 90px;    
    }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {

    /*header laptop small*/
    header {
        display: flex;
        flex-direction: row;
        height: 48px;
        padding-left: 38px;
        justify-content: space-between;
        background-color: #B1A7A5;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .dropdown {
        display: none;
    }
    
    .leftSide {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: calc(100% / 2.5);
        align-items: center;
    }
    .rightSide {
        display: flex;
        justify-content: flex-end;
        padding-right: 5%;
        align-items: center;
    }

    /*main laptop small*/
    .infoTitle {
        margin: 0px;
        background-image: url("images/image10.svg");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 40vw;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .welcome {
        width: calc(100% / 2.7);
        height: calc(100% / 3);
        text-align: center;
        background-color: rgba(177, 167, 165, 0.5);
        backdrop-filter: blur(100px);
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw;
        justify-content: center;
    }

    .welcomeMobile {
        display: none;
    }


    .info {
        background-image: url("images/info4.svg");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 40vw;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .infoText {
        width: calc(100% / 2);
        height: calc(100% / 1.9);
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;
        line-height: 2vw;
        padding-left: 50px;
        padding-right: 50px;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: justify;
        justify-content: center;

        background-color: rgba(177, 167, 165, 0.5);
        backdrop-filter: blur(100px);
    }

    .catalogue {
        min-height: 841px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #B1A7A5;
        position: relative;
    }

    .rectangle {
        position: relative;
        height: 557.34px;
        width: 912px;
        display: flex;
        justify-content: center;
        align-items: center;

        background: #DBD3D2;
        box-shadow: 4px 4px 4px 4px rgba(25, 25, 25, 0.1), inset 4px 4px 4px 4px rgba(25, 25, 25, 0.1);
    }

    .arrowHolder {
        position: absolute;
        height: 211.64px;
        width: 100%;
        background: #8B7F7C;
        backdrop-filter: blur(100px);

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .prev-button,
    .next-button {
        font-size: 90px;
    }

    .slides-container {
        min-height: 30vw;
        width: 386px;
        position: relative;
        overflow: hidden;
    }

    .dres-imgs{
        width: 400%;
        height: 100%;
        display: flex;
    }

    .slide-image {
        margin-top: 5%;
        height: 100%;
        width: 25%;
        transition: all .6s ease;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;

    }

    .slide-image img {
        height: 90%;
        width: 100%;
        object-fit: cover;
    }
    input[name="r"]{
        position: absolute;
        visibility: hidden;
    }

    .catBtn {
        width: calc(100% / 2);
        height: 72px;
        font-family: 'Montserrat', sans-serif;
        font-size: 2vw;
        background-color: #E5E5E5;
        border: 1px solid #5B5553;
    }

    /*footer laptop small*/

    .footerMobile {
        display: none;
    }

    .infoMobile {
        display: none;
    }

    .button {
        cursor: pointer;
        transition: all .4s ease;
        height: 100%;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button:hover{
        /* opacity: 0.8; */
        transform: scale(1.1);
    }

    .footerMobile {
        display: none;
    }
    .bottomMenu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
    }
    
    footer {
        display: flex;
        width: auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        padding: 5px 0px;
        background-color: #8B7F7C;
    }
    
    .topMenu {
        display: flex;
        justify-content: space-around;
        padding: 15px 0px;
        width: calc(100% / 1);
    }
    
    
    .footBtn {
        width: calc(100% / 1.5);
        height: 76px;
        padding: 15px 0px;
    }
    
    .footerBtn {
        width: 100%;
        font-size: 23px;
        font-family: 'Montserrat', sans-serif;
        background-color: #DBD3D2;
        border: 1px solid #5B5553;
        padding: 15px 15px;
        font-weight: bold;
    }
    
    .middleMenu {
        width: calc(100% / 1.4);
        display: flex;
        justify-content: flex-end;
        font-weight: bold;
    }
    
    .FEFU img{
        width: auto;
        height: 90px;    
    }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1200px) {
    /*header desktop*/
    header {
        display: flex;
        flex-direction: row;
        height: 48px;
        padding-left: 38px;
        justify-content: space-between;
        background-color: #B1A7A5;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .dropdown {
        display: none;
    }
    
    .leftSide {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: calc(100% / 2.5);
        align-items: center;
    }
    .rightSide {
        display: flex;
        justify-content: flex-end;
        padding-right: 5%;
        align-items: center;
    }

    /*main desktop*/
    .infoTitle {
        margin: 0px;
        background-image: url("images/image10.svg");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 40vw;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .welcome {
        width: calc(100% / 2.7);
        height: calc(100% / 3);
        text-align: center;
        background-color: rgba(177, 167, 165, 0.5);
        backdrop-filter: blur(100px);
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw;
        justify-content: center;
    }

    .welcomeMobile {
        display: none;
    }


    .info {
        background-image: url("images/info4.svg");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 40vw;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .infoText {
        width: calc(100% / 2);
        height: calc(100% / 1.9);
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.5vw;
        line-height: 2vw;
        padding-left: 50px;
        padding-right: 50px;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: justify;
        justify-content: center;

        background-color: rgba(177, 167, 165, 0.5);
        backdrop-filter: blur(100px);
    }

    .catalogue {
        min-height: 841px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #B1A7A5;
        position: relative;
    }

    .rectangle {
        position: relative;
        height: 557.34px;
        width: 912px;
        display: flex;
        justify-content: center;
        align-items: center;

        background: #DBD3D2;
        box-shadow: 4px 4px 4px 4px rgba(25, 25, 25, 0.1), inset 4px 4px 4px 4px rgba(25, 25, 25, 0.1);
    }

    .arrowHolder {
        position: absolute;
        height: 211.64px;
        width: 100%;
        background: #8B7F7C;
        backdrop-filter: blur(100px);

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .prev-button,
    .next-button {
        font-size: 90px;
    }

    .slides-container {
        min-height: 30vw;
        width: 386px;
        position: relative;
        overflow: hidden;
    }

    .dres-imgs{
        width: 400%;
        height: 100%;
        display: flex;
    }

    .slide-image {
        margin-top: 5%;
        height: 100%;
        width: 25%;
        transition: all .6s ease;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;

    }

    .slide-image img {
        height: 90%;
        width: 100%;
        object-fit: cover;
    }

    .button {
        cursor: pointer;
        transition: all .4s ease;
        height: 100%;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button:hover{
        /* opacity: 0.8; */
        transform: scale(1.1);
    }

    input[name="r"]{
        position: absolute;
        visibility: hidden;
    }

    .catBtn {
        width: calc(100% / 2);
        height: 72px;
        font-family: 'Montserrat', sans-serif;
        font-size: 2vw;
        background-color: #E5E5E5;
        border: 1px solid #5B5553;
    } 

    /*footer desktop*/
    

    footer {
        background-color: #8B7F7C;
        width: auto;
    }

    .footerMobile {
        display: none;
    }

    .infoMobile {
        display: none;
    }
    
    .footerMobile {
        display: none;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        padding: 55px 0 px;
    }
    
    .topMenu {
        display: flex;
        justify-content: space-around;
        padding: 15px 0px;
        width: calc(100% / 1);
    }
    .bottomMenu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
    }
    
    .footBtn {
        width: calc(100% / 1.5);
        height: 76px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    
    .footerBtn {
        width: 100%;
        font-size: 23px;
        font-family: 'Montserrat', sans-serif;
        background-color: #DBD3D2;
        border: 1px solid #5B5553;
        padding: 15px 15px;
        font-weight: bold;
    }
    
    .middleMenu {
        width: calc(100% / 1.4);
        display: flex;
        justify-content: flex-end;
        font-weight: bold;
    }
    
    .FEFU img{
        width: auto;
        height: 90px;    
    }
}

@media screen and (min-device-width: 1201px) {
    /*header big screen*/
    header {
        display: flex;
        flex-direction: row;
        height: 48px;
        padding-left: 38px;
        justify-content: space-between;
        background-color: #B1A7A5;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .dropdown {
        display: none;
    }
    
    .leftSide {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: calc(100% / 3);
        align-items: center;
    }

    .rightSide {
        display: flex;
        justify-content: flex-end;
        padding-right: 5%;
        align-items: center;
    }
    /*main big screen*/
    .infoTitle {
        margin: 0px;
        background-image: url("images/image10.svg");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 40vw;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .welcome {
        width: calc(100% / 2.7);
        min-height: calc(100% / 3);
        text-align: center;
        background-color: rgba(177, 167, 165, 0.5);
        backdrop-filter: blur(100px);
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw;
        justify-content: center;
    }

    .welcomeMobile {
        display: none;
    }


    .info {
        background-image: url("images/info4.svg");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 40vw;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .infoText {
        width: calc(100% / 2);
        min-height: calc(100% / 1.9);
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.5vw;
        line-height: 2vw;
        padding-left: 50px;
        padding-right: 50px;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: justify;
        justify-content: center;

        background-color: rgba(177, 167, 165, 0.5);
        backdrop-filter: blur(100px);
    }

    .catalogue {
        min-height: 841px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #B1A7A5;
        position: relative;
    }

    .rectangle {
        position: relative;
        height: 557.34px;
        width: 912px;
        display: flex;
        justify-content: center;
        align-items: center;

        background: #DBD3D2;
        box-shadow: 4px 4px 4px 4px rgba(25, 25, 25, 0.1), inset 4px 4px 4px 4px rgba(25, 25, 25, 0.1);
    }

    .arrowHolder {
        position: absolute;
        height: 211.64px;
        width: 100%;
        background: #8B7F7C;
        backdrop-filter: blur(100px);

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .prev-button,
    .next-button {
        font-size: 90px;
    }

    .slides-container {
        min-height: 30vw;
        width: 386px;
        position: relative;
        overflow: hidden;
    }

    .dres-imgs{
        width: 400%;
        height: 100%;
        display: flex;
    }

    .slide-image {
        margin-top: 5%;
        height: 100%;
        width: 25%;
        transition: all .6s ease;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;

    }

    .slide-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .button {
        cursor: pointer;
        transition: all .4s ease;
        height: 100%;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button:hover{
        /* opacity: 0.8; */
        transform: scale(1.1);
    }

    input[name="r"]{
        position: absolute;
        visibility: hidden;
    }

    .catBtn {
        width: calc(100% / 2);
        height: 72px;
        font-family: 'Montserrat', sans-serif;
        font-size: 2vw;
        background-color: #E5E5E5;
        border: 1px solid #5B5553;
    }

    /*footer big screen*/

    footer {
        background-color: #C3C3C3;
        height: 262px;
        width: auto;
    }

    .footerMobile {
        display: none;
    }

    .infoMobile {
        display: none;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        padding: 55px 0px;
        background-color: #8B7F7C;
    }
    
    .topMenu {
        display: flex;
        justify-content: space-around;
        padding: 15px 0px;
        width: calc(100% / 1);
    }
    
    .footBtn {
        width: calc(100% / 2);
        height: 76px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .bottomMenu {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
    }
    
    .footerBtn {
        width: 100%;
        font-size: 23px;
        font-family: 'Montserrat', sans-serif;
        background-color: #DBD3D2;
        border: 1px solid #5B5553;
        padding: 15px 15px;
        
        font-weight: bold;
    }
    
    .middleMenu {
        width: calc(100% / 1.4);
        display: flex;
        justify-content: flex-end;
        font-weight: bold;
    }
    
    .FEFU img{
        width: auto;
        height: 90px;    
    }
}